/*change fixed header bar*/
#masthead-container.ytd-app {
    position: static !important;
}
/* remove header bar height offset*/
ytd-page-manager {
    margin-top:10px !important;
}

/*change fixed chip bar*/
#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
   position: static !important;
}

#left-arrow.ytd-feed-filter-chip-bar-renderer, #right-arrow.ytd-feed-filter-chip-bar-renderer {
    position: static !important;
}

/*hide ad video from front page*/
ytd-display-ad-renderer{
 display:none !important;
}

.ytp-ad-image-overlay{
    display:none !important;
}
.video-ads .ytp-ad-module{
    display:none !important;
}


[class*=promoted]{
    display:none !important;
}
[id*=promoted]{
    display:none !important;
}

[id*=promo]{
    display:none !important;
}

[id*=-ad-]{
    display:none !important;
}

a[href*=.youtubekids.com]
{
    display:none !important;
}

a[href*=music.youtube.com]
{
    display:none !important;
}

a[href*=tv.youtube.com]
{
    display:none !important;
}

#feed-pyv-container, ytd-video-masthead-ad-v3-renderer, ytd-promoted-sparkles-text-search-renderer , ytd-promoted-video-renderer, ytd-merch-shelf-renderer, #feedmodule-PRO, #homepage-chrome-side-promo, #premium-yva, #search-pva, #shelf-pyv-container, #video-masthead, #watch-branded-actions, #watch-buy-urls, #watch-channel-brand-div, .carousel-offer-url-container, .list-view[style="margin: 7px 0pt;"], .promoted-videos, .searchView.list-view, .watch-extra-info-column, .watch-extra-info-right, a[href^="http://www.youtube.com/cthru?"], a[href^="https://www.youtube.com/cthru?"], .ad-div div, #masthead-ad, .ytd-player-legacy-desktop-watch-ads-renderer, ytd-compact-promoted-video-renderer
{
    display:none !important;
}

.ytp-pause-overlay{
    display:none !important;
}

ytd-mealbar-promo-renderer{
    display:none !important;
}

.ytp-ad-overlay-container, #player-ads {
  display: none !important;
}

body, a, img {
      -webkit-touch-callout:none !important ;
      -webkit-user-select:none !important ;
      -KHTML-USER-SELECT:  none !important ;
       user-select:none !important ;
      -webkit-user-drag:  none !important ;
      -khtml-user-drag:  none !important ;
      -o-user-drag:  none !important ;
      user-drag:  none !important ;
}
body{
overflow-x:hidden !important;
}

.ui-focus {
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}
