::-webkit-scrollbar {
  display:block !important;
  width: 8px !important;
  height: 10px !important;
}
::-webkit-scrollbar-button {
  width: 0px !important;
  height: 0px !important;
}
::-webkit-scrollbar-thumb {
  background: #cb0000 !important;
  border: 0px none #ffffff !important;
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #b10000 !important;
}
::-webkit-scrollbar-thumb:active {
  background: #b10000 !important;
}
::-webkit-scrollbar-track {
  background: #161616 !important;
  border: 0px none #ffffff !important;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track:hover {
  background: #161616 !important;
}
::-webkit-scrollbar-track:active {
  background: #161616 !important;
}
::-webkit-scrollbar-corner {
  background: transparent !important;
}
