[Desktop Entry]
Version=1.0
GenericName=Download watch Youtube Playlists
Name[en_US]=Playlist-dl
Comment=YouTube Playlist Downloader 
Name=Playlist-dl
Type=Application
Icon=playlist-dl
Keywords=YouTube;Playlist
Exec=playlist-dl
Categories=Utility;Video;Qt;
Terminal=false
StartupNotify=true
